-c requirements.constraints.txt

flask
Flask-Migrate
google-genai
python-dotenv
SQLAlchemy
alembic
psycopg[binary]
python-json-logger
websocket-client
flask-socketio
simple-websocket
python-socketio
flask_sqlalchemy
flask-cors
requests
gunicorn
